@font-face {
    font-family: "WeblySleekUISemilight";
    src: url("../assets/fonts/weblysleekuisl.eot"); /* IE9 Compat Modes */
    src: url("../assets/fonts/weblysleekuisl.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../assets/fonts/weblysleekuisl.otf") format("opentype"), /* Open Type Font */
      url("../assets/fonts/weblysleekuisl.svg") format("svg"), /* Legacy iOS */
      url("../assets/fonts/weblysleekuisl.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../assets/fonts/weblysleekuisl.woff") format("woff"), /* Modern Browsers */
      url("../assets/fonts/weblysleekuisl.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/Helvetica.eot"); /* IE9 Compat Modes */
    src: url("../assets/fonts/Helvetica.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../assets/fonts/Helvetica.otf") format("opentype"), /* Open Type Font */
      url("../assets/fonts/Helvetica.svg") format("svg"), /* Legacy iOS */
      url("../assets/fonts/Helvetica.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../assets/fonts/Helvetica.woff") format("woff"), /* Modern Browsers */
      url("../assets/fonts/Helvetica.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }